.datepicker {
  position: absolute;
  width: auto;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  z-index: 999;
}

.datepicker .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.datepicker .header .prev {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAAOUlEQVR4AWMYxqABCElS/p/hN4MWacpDSFMeSlPlYaQo/0OScnyQYg0IJ4XjcsLI0KJFmpa64Zt3AdTaQlFOlKYFAAAAAElFTkSuQmCC');
  background-position: left center; 
}

.datepicker .header .next {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAAOUlEQVR4AWMYxqCRoYEU5boMfxj+k6YlgnQtkXTREkW6lmjcWv7jhQ3kayDspGGrnPLE1wCEwxYAABNmQoikBfhoAAAAAElFTkSuQmCC');
  background-position: right center;
}

.datepicker .header .prev,
.datepicker .header .next {
  width: 30px;
  height: 30px;
  margin: 2.5px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.datepicker .calendar {
  display: flex;
  flex-wrap: wrap;
  width: 245px;
}

.datepicker .calendar .weekday,
.datepicker .calendar .day {
  display: flex;
  width: 30px;
  height: 30px;
  margin: 2.5px;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border: 1px solid #ffffff;
}

.datepicker .calendar .day {
  cursor: pointer;
}

/* Decorators */
.datepicker .calendar .today {
  font-weight: 600;
  color: #fff;
  background-color: #99b7d0;;
}

.datepicker .calendar .selected {
  font-weight: 600;
  color: #fff;
  background-color: #ff690f;
}

.datepicker .calendar .out-month,
.datepicker .calendar .disabled {
  color: #cccccc;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  pointer-events: none;
}

.datepicker .calendar .range {
  background-color: #ffffff;
  border: 1px solid #ff690f;
  color: #ff690f;
}
